In [ ]:
# Create a series by passing a list of values
import pandas as pd
a=pd.Series([1,3,4,5,6,7])
print(a)

In [ ]:
# Missing values then it can be nan of numpy
import numpy as np
a=pd.Series([1,3,4,np.nan,6])
print(a)

In [ ]:
#Create a list of dates within particular range
import pandas as pd

dates =pd.date_range('20190601',periods=20)
print(dates)

In [ ]:
lst =pd.date_range('20190601',periods=5)
print(lst)

In [13]:
a3=pd.DataFrame({'A':1.,
                'B':pd.Timestamp('20190601'),
                'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                'D':np.array([3]*4,dtype='int32'),
                'E':pd.Categorical(["test","train","test","train"]),
                'F':'foo'})
print(a3)

     A          B    C  D      E    F
0  1.0 2019-06-01  1.0  3   test  foo
1  1.0 2019-06-01  1.0  3  train  foo
2  1.0 2019-06-01  1.0  3   test  foo
3  1.0 2019-06-01  1.0  3  train  foo

# Turtle is a python feature like a drawing board
# Lines,squares,star,rectangle and etc
# Turtle()-- It creates

In [ ]:
# step 1: Make all the "turtle" package to be imported
import turtle as tt
# Turtle method creates and returns the new object
a1=tt.Turtle()
#forward() method moves 100 pixels
tt.forward(100)
#we are done
tt.done()

In [ ]:
# Drawing a square
import turtle as tt
a1=tt.Turtle()
a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)
tt.done()

In [ ]:
import turtle as tt
a1=tt.Turtle()
a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)
a1.backward(150)
a1.left(90)
a1.backward(150)
a1.left(90)
tt.done()

In [ ]:
import turtle as tt
a1=tt.Turtle()
for x in range(40)
    a1.forward(50)
    a1.right(144)
tt.done()