### String Function - in built Functions
#### upper()- returns string in which all the characters are in upper case
##### lower()- returns string in which all the characters are in lower case

In [1]:
str = "Anil"
print(str.upper())
print(str.lower())

ANIL
anil

### boolean methods
#### islower()-- Method returns the output either True or False, if it is True then given character is lowercase and if not returns False
#### isupper()--Method returns the output either True or False if it is True the given character is upper else false
#### isnumeric()--Method returns True and False output if the string is number True else False 
#### isalpha()--Method returns True if all are alphabets else False 
#### istitle()--True and False(String is in title case)
#### isspace()--True and False

In [11]:
s='Python is Easy Programming to learn and intersting'
s1="python"
s2="LOWER"
s3="3456"
s4="python programming"
s5="Python Programming"
print(s.islower())
print(s1.islower())
print(s3.isnumeric())
print(s.isalpha())
print(s1.isalpha())
print(s4.istitle())
print(s5.istitle())
print(s.isspace())

False
True
True
False
True
False
True
False

In [4]:
s="Application"
s1='ANIL'
print(s.isupper())
print(s1.isupper())

False
True

#### string methods
###### join()-this method will concatinate two strings
###### split()- returns the list of 
###### replace()-

In [15]:
str="python"
print(" ".join(str))

p y t h o n

In [16]:
print(",".join(["Python","Proggramming","Easy"]))

Python,Proggramming,Easy

In [22]:
lst = ["",""]
print(",".join(lst))

,

In [26]:
s="Python, Programming ,is, easy, to, learn"
print(s.split())
print(s.split("a"))
print(s.split(","))

['Python,', 'Programming', ',is,', 'easy,', 'to,', 'learn']
['Python, Progr', 'mming ,is, e', 'sy, to, le', 'rn']
['Python', ' Programming ', 'is', ' easy', ' to', ' learn']

In [27]:
s="Python Programming is easy to learn"
lst =s.split()
print(lst)
print(lst.index("is"))

['Python', 'Programming', 'is', 'easy', 'to', 'learn']
2

In [28]:
s="Python Programming is easy to learn"
lst=list(s)
print(lst)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [29]:
s="Python Programming"
print(s.replace("gra","application"))

Python Proapplicationmming

In [30]:
count=0
for letter in 'Hello World':
    if(letter=='1'):
        count+=1
print(count,'letters found')

0 letters found

#### Python --Tuples
##### A tuple of seq of set of object like list
##### The differences of list and tuples cannot be changed unlike list

In [31]:
t1 = ("Python","Programming",1989,2019,"machine learning","AI")
t2 =(1,2,3,4,5)
print(t1)
print(t2)

('Python', 'Programming', 1989, 2019, 'machine learning', 'AI')
(1, 2, 3, 4, 5)

In [37]:
t1 = ("Python","Programming",1989,2019,"machine learning","AI")
print("t1[0]= ",t1[0])
print("t1[2]= ",t1[2])
print("t1[-1]= ",t1[-1])
print("t1[1:4]= ",t1[1:4])
print("t1[2:-2]= ",t1[2:-2])

t1[0]=  Python
t1[2]=  1989
t1[-1]=  AI
t1[1:4]=  ('Programming', 1989, 2019)
t1[2:-2]=  (1989, 2019)

In [43]:
t1 = ("Python","Programming")
t2=(1989,2019,"machine learning","AI")
t3=t1+t2
print(t3)
print(len(t3))

('Python', 'Programming', 1989, 2019, 'machine learning', 'AI')
6

## tuple methods
### len(tuple)-length of tuple
### max(tuple)-max value of tuple
### min(tuple)-min value of tuple
### cmp(tuple 1, tuple 2)--return value 1 or -1

In [44]:
print(len(t1))

2

In [49]:
user1={'name':'anil','Age':'19','email':"xyz@gmail.com",'mobileno':'123456890'}
print("user1[name] =",user1['name'])
print("user1[email] =",user1['email'])
print("user1[Age] =",user1['Age'])
print("user1[mobileno] =",user1['mobileno'])

user1[name] = anil
user1[email] = xyz@gmail.com
user1[Age] = 19
user1[mobileno] = 123456890

In [57]:
user1={'name':'anil','age':'19','email':"xyz@gmail.com",'mobileno':'123456890'}
print(user1['email'])
user1['email']='ghdh@gmail.com'
print(user1['email'])

xyz@gmail.com
ghdh@gmail.com

In [58]:
user1={'name':'anil','age':'19','email':"xyz@gmail.com",'mobileno':'123456890'}
del user1['email']
user1.clear()
del user1

In [59]:
user1={'name':'anil','age':'19','email':"xyz@gmail.com",'mobileno':'123456890'}
print(len(user1))

4

In [62]:
user1={'name':'anil','age':'19','email':"xyz@gmail.com",'mobileno':'123456890'}
user2 = user1.copy()
print(user1)
print(user2)
user1['Address']='Hyderabad'
print(user1)
print(user2)

{'name': 'anil', 'age': '19', 'email': 'xyz@gmail.com', 'mobileno': '123456890'}
{'name': 'anil', 'age': '19', 'email': 'xyz@gmail.com', 'mobileno': '123456890'}
{'name': 'anil', 'age': '19', 'email': 'xyz@gmail.com', 'mobileno': '123456890', 'Address': 'Hyderabad'}
{'name': 'anil', 'age': '19', 'email': 'xyz@gmail.com', 'mobileno': '123456890'}

In [63]:
user1={'name':'anil','age':'19','email':"xyz@gmail.com",'mobileno':'123456890'}
user2 = user1.copy()
print(user1.values())
print(user2.values())

dict_values(['anil', '19', 'xyz@gmail.com', '123456890'])
dict_values(['anil', '19', 'xyz@gmail.com', '123456890'])

#### Python--Dictionary
##### user data can be separatedby comma operator.
#### Methods
###### 1.len(dictobj)--returns a number which having length.
######  2.str(dicobj)--returns the equ string to dic object.
######  3.copy()--copies the one dic object data to another dic

In [5]:
contact= {}
def addContact(name,phone):
    #verify that the contact doesnot already exists
    if name not in contact:
        contact[name] =phone
        print("Contact %s added" % name)
    else:
        print("Contact %s already exists" % name)
    return
addContact("Anil",95137521)
addContact("Pooja",996633221)
addContact("Anil",9988774466)

Contact Anil added
Contact Pooja added
Contact Anil already exists

In [13]:
def searchContact(name):
    if name in contact:
        print(name,":",contact[name])
    else:
        print("%s does not exists" % name)
    return
searchContact("Anil")
searchContact("Pooja")
searchContact("Harsha")
searchContact("Kranth")

Anil : 95137521
Pooja : 996633221
Harsha does not exists
Kranth does not exists

In [16]:
#New Contacts is given as a dictionary 
#Merge new contact with existing contacts list
def importContact(newContact):
    contact.update(newContact)
    print(len(newContact.keys()),"contact added successful")
    return
newContact={'Dinesh':986543210,'ajay':123456890}
importContact(newContact)

2 contact added successful

In [19]:
print(contact)

{'Anil': 95137521, 'Pooja': 996633221, 'Dinesh': 986543210, 'ajay': 123456890}

In [23]:
#Delete a contact from contact list
def deleteContact(name):
    if name in contact:
        del contact[name]
        print(name,": is deleted from the contact")
    else:
         print(name,": is not exists in the contact")
    return
deleteContact("Pooja")
deleteContact("Naveen")

Pooja : is deleted from the contact
Naveen : is not exists in the contact

In [25]:
print(contact)

{'Anil': 95137521, 'Dinesh': 986543210, 'ajay': 123456890}

In [32]:
def updateContact(name,phone):
    if name in contact:
        contact[name]=phone
        print(name,":Updated with new phone number")
    else:
        print(name,"Not exists in the contacts")
    return
updateContact("Anil",9966552211)
updateContact("Harsha",9988774422)

Anil :Updated with new phone number
Harsha Not exists in the contacts

In [29]:
from math import floor as f1
f1(123.456)

123

In [30]:
from math import factorial as fact
fact(5)

120

In [31]:
import math
math.factorial(5)

120

### packages and modules
##### package: collection of modules
##### subpackages;its part of main packages
###### module:a single python files contains site of operations
###### package-->sub-package-->modules-->functions

In [35]:
# generate the random numbers between two limits
import random
def generateRandomNumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generateRandomNumbers(10,12,120)

16 69 55 104 64 28 82 97 36 73

In [39]:
d = {“Anil”:28, “Harsha”:29}
size(d)

SyntaxError: invalid character in identifier (<ipython-input-39-2fdb38822e70>, line 1)